<%- include('../layout/head')%>
</head>

<body>
  <%- include('../layout/navigation')%>
  <h1><%=message%></h1>
  <p>You will be redirected shortly...</p>
  <script>
    setTimeout(() => {
      window.location.href = '/admin/add-product';
    }, process.env.REDIRECT_DELAY);
  </script>
  <%- include('../layout/end')%>