<%- include('../layout/head')%>
</head>

<body>
  <%- include('../layout/navigation')%>
  <h1>Page Not Found!</h1>
  <p>You will be redirected shortly...</p>
  <script>
    setTimeout(() => {
      window.location.href = '/';
    }, process.env.REDIRECT_DELAY);
  </script>
  <%- include('../layout/end')%>