<%- include('includes/head')%>
<%- styles %>
	</head>
	<body>
    <%- include('includes/navigation')%>
		<main>
			<form class="product-form" action="/admin/add-product" method="POST">
				<div class="form-control">
					<label for="title">Title</label>
					<input id="title" type="text" name="title" />
				</div>
				<button type="submit">Add Product</button>
			</form>
		</main>
<%- include('includes/end')%>
