<form action='/cart' method='POST'>
  <!-- PASSING DATA ALONG A POST REQ TRICK -->
  <input type='hidden' name='productId' value='<%=product._id%>'>
  <input type='hidden' name='_csrf' value='<%= csrfToken %>' />
  <button class='btn' type='submit'>Add to Cart</button>
</form>