<h1>{{caption}}</h1>
<!-- don't use absolute path  -->
<!-- <img src="/images/skimountain.jpg" alt="Ski mountain"> -->
<!-- use relative path -->
<img src="site/images/skimountain.jpg" alt="Ski mountain"></img>

